.subpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.subpage_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goBack {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.arrow_back{
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
}

.arrow_back:hover {
    scale: 1.05;
    color:var(--color-red)
}

.subpage_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
}

.subpage_header h1 {
    font-family: var(--font-en);
    font-size: 40px;
    text-align: center;
    color: black;
}

.subpage_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.subpage_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 80%;
    height: 400px;
}

.subpage_menu {
    flex: 2;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-red-4);
    justify-content: flex-start;
    align-items: center;
}

.subpage_menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: var(--font-en);
    margin: 10px;
    cursor: pointer;
}

.subpage_menu_item:hover {
    color: var(--color-red-2);
    scale: 1.02;
}

.subpage_menu_item:active {
    scale: 0.95;
}

.subpage_anim {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: var(--color-yellow-4);
    overflow: auto;
}

.subpage_intro {
    flex: 3;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-green-3);
}

.subpage_interact {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.array_interact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subpage_interact_p{
    font-size: 14px;
    text-align: center;
    font-family: var(--font-en);
    margin-left: 8px;
}

.subpage input {
    font-family: var(--font-en);
    margin-left: 4px;
    width: 20px;
    font-size: 14px;
    line-height: 16px;
    height: 18px;
    text-align: center;
}

.subpage_btn {
    font-family: var(--font-en);
    font-size: 12px;
    margin-left:10px;
}

.array_intro {
    margin-top: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 200px;
}

.array_intro_section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.language_switcher{
    display: flex;
    flex-direction: row;
}

.language_switcher h3 {
    margin-right: 40px;
    font-family: var(--font-en);
    cursor: pointer;
}

.language_switcher h3:hover {
    color: var(--color-blue);
    scale: 1.05;
}

.language_switcher h3:hover:active{
    scale: 0.95;
}

.code_holder {
   width: 60%;
   min-width: max-content;
   align-self: center;
   height: 400px; /* 设置最大高度 */
   overflow: scroll;
}