.single_list_node_ele {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-en);
    cursor: default;
    margin: 8px;
}

.single_list_node_head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.single_list_node_head p {
    margin: 0;
    text-align: center;
}

.single_list_node_head div {
    width: 38px;
}

.single_list_node{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single_list_node_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: black;
    background-color: var(--color-yellow-3);
    border: 4px solid black;
}

.single_list_node_next {
    width: 30px;
    height: 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_list_node_next_toNull {
    margin-left: 20px;
    font-size: 20px;
    font-family: var(--font-en);
}

.single_list_pointer {
    position: relative;
    left: 22px;
}
